:root {}

* {
    box-sizing: border-box;
}

.blue {
    --clr: #4285F4
}

.red {
    --clr: #db4437
}

.yellow {
    --clr: #f4b400
}

.green {
    --clr: #0F9d58
}

body {
    background-color: #636e72;
    font-family: "SF Pro Text", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px white;
}

.box {
    background-color: var(--clr);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px black;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
    text-shadow: 2px 2px 3px black;
}